// * {
//   outline: 1px solid red;
//   outline-offset: -1px;
// }
// style sheet
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@font-face {
  font-family: "Anti";
  src: local("Anti"),   url(../font/anti.ttf) format("truetype");}

  @font-face {
    font-family: "Art";
    
    src: local("Art"),   url(../font/art.otf) format("truetype");}
// Override / set color variables
$font-family-base: 18px; 
$bold-weight: 800;
$blue: #3399ff;
$orange: #22f2e1;
$red: #fff;
$body-bg: whitesmoke;
$body-color: rgb(141, 7, 153);
body { min-height: 100vh; margin-bottom: 70px;}

$secondary: $orange;

$theme-colors: (
  "primary": #bf1b2c,
  "danger": #ffffff,
  "secondary": #F9F9F9,
);
#app {
  font-family: 'Montserrat';
  color: black;
  min-height: calc(100vh - 70px);
}
.navbar {
  height: 10%;
  z-index: 10;
}
.footer.a {
  color: black;
}
.footer {
  position: absolute;
  /* Set the fixed height of the footer here */
  height: 75px;
  width: 100%;
  background-color: #bf1b2c;
  font-size: 32px;
}
.frame {
  background-color:rgb(248, 248, 248);
  
}
.footer.a:visited {
  color:white;
}
.artist {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("http://placehold.jp/500x350.png");
  height: 350px;
  background-color:rgb(248, 248, 248);
  background-size: 100% 100%;
}
//Adjust the sizeof the carsouel 
#tns1-ow {
  width:100%;
}

.sign {
  background-color: white;
  border-color: #bf1b2c;

border-style: solid;
padding-top: 25px;
}
.button-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.map {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}
.gallery {    
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;    
}

.notes {
  background-color:whitesmoke;
  height: 400px;
  width: 405px;
  margin-left: 5%;
  position: relative;
z-index: 110;
}

.caption {
  margin-top: -500px;
  margin-left: 5%;
 
  

  position: relative;
  }

 .caption h1 {
   font-family: 'Anti';
  font-size: 6rem;
  text-align: center;
  
 } 
   
 .container {
    display: grid; 
    justify-items: end;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: "."; 
  }
  .splide {
    z-index: 0;
    width: 800px;
  }
  .images {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  p.lead {
    font-family: "Art";
    color: black;
    font-weight: bold;
    font-size: 4rem;
    
  }


 

@media only screen and (max-width: 1350px) {
  body {
    background-color: lightblue;
  }
  .gallery {    
      grid-template-columns: repeat(3, 1fr);   
   }
   .notes {
    background-color: whitesmoke;
    margin-top: 225px;
    height: 200px;
    width: 90%;
    margin-left: 5%;
    z-index: 110;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
  .gallery {    
      grid-template-columns: repeat(3, 1fr);   
   }
   .notes {
    background-color:whitesmoke;
 
  }
  .caption{
  margin-left: 5%;
    background-color: pink;
  }
}
@media only screen and (max-width: 980px) {
  .images {
    display: grid;
    grid-template-columns: 1fr;
  }
  iframe {
    width: 100%;
   }
 
}
@media only screen and (max-width: 790px) {
.splide {
  margin-left: -100px;
}
}
@media only screen and (max-width: 720px) {
  .footer {
    position: absolute;
    /* Set the fixed height of the footer here */
    height: 69px;
    width: 100%;
    padding-left: 25px;
    background-color: #bf1b2c;
    color: white;
    font-size: 24px;
  }
  .conditional {
    color: #22f2e1;
    width: 340px;
    height: 200px;
    background-image: url("https://res.cloudinary.com/duvzhauq9/image/upload/v1682418876/craftshop/306765720_525053689425206_3683188718442597110_n_semktu.jpg");
  }
  .centered {
    align-items: center;
    
  }
  body {
    background-color: lightblue;
  }
  .gallery {    
      grid-template-columns: repeat(2, 1fr);   
   }
   .map {
     grid-template-columns: 1fr;
   }
   .caption h1 {
   font-size: 3rem;
   z-index: -1;
  } 
  p.lead {
    color: black;
    font-size: 2rem;
    display: grid;
    text-align: center;
    font-weight: bold;
    
  }
  .btn-primary {
    font-weight: bold;
  }
  .splide {
    z-index: 0;
    
    margin-left: -90px;
  }
  .caption{
    margin-left: 5%;
     background-color: whitesmoke;
     width: 85%;
     margin-top: 50px;
     font-weight: bold;
   }
 
   .notes {
     width: 85%;
     margin-top: 0px;
     margin-left: 5%;
     margin-right: 50px;
     height: 2px;
   }
   .container {
     display: none;
   }

}

@media only screen and (max-width: 695px) {
  
  .gallery {    
      grid-template-columns: repeat(1, 1fr);   
   }


}

@media only screen and (max-width: 495px) {
.sign {
  margin-left: 10px;
margin-right: 20px;
border-width: 5px;
margin-bottom: 10px;
}
p.lead {
  color: black;
  font-size: 1.5rem;
  display: grid;
  text-align: center;
  font-weight: bold;
  
}

.sign img {
  width: 100px;
  float: left; 
  margin: 3px 12px 3px 10px;
}

h1.small {
  margin-top: 25px;
  text-align: left;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

h1.title {
  font-size: 36px;
}
h2 {
  margin-top: 10px;
  background-color: #bf1b2c;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}
h2.smaller {
 text-align: center;
  font-size: 1.7rem;
}
}

//@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
//@import '../node_modules/bootstrap-vue/src/index.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
