   * {
    outline: 1px solid red;
     outline-offset: -1px;
   }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@font-face {
  font-family: "Anti";
  src: local("Anti"),   url(../font/anti.ttf) format("truetype");}

  @font-face {
    font-family: "Art";
    
    src: local("Art"),   url(../font/art.otf) format("truetype");}
// Override / set color variables
$font-family-base: 18px; 
$bold-weight: 800;
$blue: #3399ff;
$orange: #22f2e1;
$red: #fff;
$body-bg: #d5c9bc;
$body-color: rgb(179, 0, 24);

$secondary: $orange;

$theme-colors: (
  "primary": #bf1b2c,
  "danger": #ffffff,
  "secondary": #F9F9F9,
  );
  
body { 
    min-height: 95vh; 
    margin-bottom: 75px;
  }
.home{
  max-width: fit-content;
}

#app {
  font-family: 'Montserrat';
  color: black;
  min-height: calc(100vh - 70px);
}

.navbar {
  height: 10%;
  z-index: 10;
 

}

.footer.a {
  color: black;
}
 
.footer {
  position: absolute;
  /* Set the fixed height of the footer here */
  height: 75px;
  width: 100%;
  background-color: #bf1b2c;
  font-size: 32px;
}

.splide {
  width: 1980px !important;
  
}

.title {
  font-family: 'Anti';
  font-size: 6rem;
}

.container {
  padding-left: 0px;
  margin-left: 1000px;
}

.container-fluid {
  background-color: #d5c9bc;
}

.frame {
  background-color: #d5c9bc;
  
}

.footer.a:visited {
  color:white;
}

.artist {
  width: 100%;
  background-repeat: no-repeat;
  
  height: 350px;
  background-color:#d5c9bc;
  background-size: 100% 100%;
}

//Adjust the sizeof the carsouel 
#tns1-ow {
  width:100%;
}

.sign {
  background-color: white;
  border-color: #bf1b2c;

border-style: solid;
padding-top: 25px;
}

.button-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.map {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

.gallery {    
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;    
}

.notes {
  background-color:#d5c9bc;
  height: 100px;
  width: 405px;
  margin-left: 5%;
  position: relative;
  z-index: 110;
}

.caption {
  margin-top: -500px;
  margin-left: 5%;
  position: relative;
  }

 .caption h1 {
  font-family: 'Anti';
  font-size: 6rem;
  text-align: center;
  
 } 
   
 .container {
    display: grid; 
    justify-items: end;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: "."; 
    margin-left: 2000px;
  }

  .splide {
    z-index: 0;
    width: 1980px;
    margin-left: -800px;
  }

  .images {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  p.lead {
    font-family: "Art";
    color: black;
    font-weight: bold;
    font-size: 4rem;
    
  }


@media only screen and (max-width: 1980px) {

  body {
    color: #d5c9bc;
  }

  .gallery {    
      grid-template-columns: repeat(3, 1fr);   
   }

   .notes {
    background-color: #d5c9bc;
    margin-top: 165px;
    height: 200px;
    width: 100%;
    margin-left: 5%;
    z-index: 110;
  }

  .sign {
    width: 66%;
    text-align:center;
  }

  .sign.front {
    margin-top: -750px;
  }

  .middle-picket {
    margin-left: 250px;
    margin-right: 630px;
    padding: 3px;
    padding-left: 10px; 
    background-color: white;
    width: 300px;
  }

}

@media only screen and (max-width: 720px) {
  
  .title {
    font-size: 2.7rem;
  }

  .footer {
    position: absolute;
    /* Set the fixed height of the footer here */
    height: 69px;
    width: 100%;
    padding-left: 25px;
    background-color: #bf1b2c;
    color: white;
    font-size: 24px;
  }

  .conditional {
    color: #22f2e1;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 340px;
    height: 270px;
    background-image: url("https://res.cloudinary.com/duvzhauq9/image/upload/v1682535327/sml-shop_inb87z.jpg");
  }

  .centered {
    align-items: center;
    
  }

  body {
    background-color: lightblue;
  }

  .gallery {    
      grid-template-columns: repeat(2, 1fr);   
   }

   .map {
     grid-template-columns: 1fr;
   }

   .caption h1 {
   font-size: 3rem;
   z-index: -1;
  } 

  p.lead {
    color: black;
    font-size: 2rem;
    display: grid;
    text-align: center;
    font-weight: bold;
    
  }

  .btn-primary {
    font-weight: bold;
  }

  .splide {
    z-index: 0;
    
    margin-left: -90px;
  }

  .caption{
    margin-left: 5%;
     background-color:#d5c9bc;
     width: 85%;
     margin-top: 50px;
     
   }
 
  .notes {
     width: 85%;
     margin-top: 0px;
     margin-left: 5%;
     margin-right: 50px;
     height: 2px;
   }

   .container {
     display: none;
   }

}

@media only screen and (max-width: 720px) {
  .gallery {
    display: block;
    }
  h3{
    text-align: center;
    font-size: 12px;
  }

  .text-black {
    font-size: 12px;
    font-weight: bold;
    color: #F9F9F9;
    
  }

  .gallery {
    margin-left: 0px;
  }
 
.sign {
margin-left: 10px;
margin-right: 20px;
border-width: 5px;
margin-bottom: 10px;
}

.sign.front{
  margin-top: -40px;
  width: 95%;
}

p.lead {
  color: black;
  font-size: 1.8rem;
  display: grid;
  text-align: center;
  font-weight: bold;

  
}

.middle-picket {
  margin-left: 5px;
  width: 300px;
}

.sign img {
  width: 100px;
  float: left; 
  margin: 3px 12px 3px 10px;
}

h1.small {
  margin-top: 25px;
  text-align: left;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

h1.title {
  font-size: 36px;
}

h2 {
  margin-top: 10px;
  background-color: #bf1b2c;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2.smaller {
 text-align: center;
  font-size: 1.7rem;
  margin-top: -2px;
}

.container-fluid {
   margin-left: -5px !important;
}

}

.container-fluid {
  padding-left: 0px;
}

.container{
  transform-style: preserve-3d;
  padding-left: 10px;
  
}

.container .box{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}

.container .box .body .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container .box .body .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container .box:hover .body{
  transform: rotateY(180deg);
}

.container .box .body .content div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(33deg, #fff, #bf1b2c 20%, #bf1b2c 80%,#fff);
   
  transform: translateZ(100px);
  color: black;
}

.container .box .body .content div h3{
  letter-spacing: 1px;
}

.float {
  z-index: 100;
  background-color: #ffffff;
  border-color: #bf1b2c;
  border-width:  5px;
  border-style: solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

//@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
//@import '../node_modules/bootstrap-vue/src/index.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
